## Import the Life table fot Canadian men from Human Mortality Database

In [9]:
import pandas as pd
df = pd.read_csv('../data/mortality_men.csv', sep=';')
df

       Year  Age       mx       qx    ax      lx     dx     Lx       Tx     ex
0      1921    0  0.13825  0.12604  0.30  100000  12604  91167  5602724  56.03
1      1921    1  0.01781  0.01765  0.50   87396   1542  86625  5511557  63.06
2      1921    2  0.00852  0.00848  0.50   85854    728  85490  5424932  63.19
3      1921    3  0.00611  0.00609  0.50   85125    519  84866  5339443  62.72
4      1921    4  0.00474  0.00473  0.50   84607    401  84406  5254577  62.11
...     ...  ...      ...      ...   ...     ...    ...    ...      ...    ...
11206  2021  106  0.60085  0.46204  0.50      97     45     75      154   1.59
11207  2021  107  0.63202  0.48026  0.50      52     25     40       79   1.52
11208  2021  108  0.66214  0.49745  0.50      27     13     20       40   1.47
11209  2021  109  0.69099  0.51356  0.50      14      7     10       19   1.42
11210  2021  110  0.71843  1.00000  1.39       7      7      9        9   1.39

[11211 rows x 10 columns]

## Keep only mortality rate for a given year

In [10]:
tab_2021 = df[df['Year']==2021]
tab_2021 = tab_2021[['Age','mx']]
tab_2021=tab_2021.reset_index()
del tab_2021['index']
tab_2021

     Age       mx
0      0  0.00479
1      1  0.00026
2      2  0.00017
3      3  0.00017
4      4  0.00011
..   ...      ...
106  106  0.60085
107  107  0.63202
108  108  0.66214
109  109  0.69099
110  110  0.71843

[111 rows x 2 columns]

## Define a function to calculate qx

In [11]:
def calculate_qx(mx):
    return 2 * mx / (2 + mx)

In [12]:
tab_2021['qx'] = tab_2021['mx'].apply(calculate_qx)
tab_2021

     Age       mx        qx
0      0  0.00479  0.004779
1      1  0.00026  0.000260
2      2  0.00017  0.000170
3      3  0.00017  0.000170
4      4  0.00011  0.000110
..   ...      ...       ...
106  106  0.60085  0.462041
107  107  0.63202  0.480255
108  108  0.66214  0.497449
109  109  0.69099  0.513558
110  110  0.71843  0.528562

[111 rows x 3 columns]

## Initialise lx

In [13]:
tab_2021['lx'] = [100000] + [None] * 110

In [14]:
# Initialize a new DataFrame to store the results
result_df = pd.DataFrame(columns=['Age', 'lx', 'dx'])

# Iterate through each row in the original DataFrame
for index, row in tab_2021.iterrows():
    age = row['Age']
    if age == 0:
        lx = initial_survivors
    else:
        # Calculate lx for current age
        lx = result_df.loc[result_df['Age'] == age - 1, 'lx'].values[0] - result_df.loc[result_df['Age'] == age - 1, 'dx'].values[0]
    qx = row['qx']
    dx = lx * qx
    
    # Append the calculated values to the result DataFrame
    result_df = result_df.append({'Age': age, 'lx': lx, 'dx': dx}, ignore_index=True)

# Now, result_df DataFrame contains updated lx and dx values for all ages
tab_2021['lx']=result_df['lx']
tab_2021['dx']=result_df['dx']

NameError: name 'initial_survivors' is not defined

In [15]:
tab_2021

     Age       mx        qx        lx
0      0  0.00479  0.004779  100000.0
1      1  0.00026  0.000260       NaN
2      2  0.00017  0.000170       NaN
3      3  0.00017  0.000170       NaN
4      4  0.00011  0.000110       NaN
..   ...      ...       ...       ...
106  106  0.60085  0.462041       NaN
107  107  0.63202  0.480255       NaN
108  108  0.66214  0.497449       NaN
109  109  0.69099  0.513558       NaN
110  110  0.71843  0.528562       NaN

[111 rows x 4 columns]

## Calcutale Lx

In [16]:
import pandas as pd

def calculate_Lx(dataframe):
    # Ensure DataFrame is sorted by Age
    dataframe = dataframe.sort_values(by='Age')

    # Calculate Lx for each age
    for index, row in dataframe.iterrows():
        age = row['Age']
        if age == 0:
            # Set Lx at age 0 as the average of Lx at age 0 and age 1
            lx_at_age_0 = (dataframe.loc[dataframe['Age'] == 0, 'lx'].values[0] + dataframe.loc[dataframe['Age'] == 1, 'lx'].values[0]) / 2
            dataframe.at[index, 'Lx'] = lx_at_age_0
        elif age > 0:
            previous_lx = dataframe.loc[dataframe['Age'] == age - 1, 'Lx'].values[0]
            dx = row['dx']
            lx = previous_lx - dx
            dataframe.at[index, 'Lx'] = lx

    return dataframe

# Assuming tab_2021 DataFrame is complete as provided
tab_2021 = calculate_Lx(tab_2021)

KeyError: 'dx'

In [ ]:
tab_2021

## Calculate Tx

In [ ]:
def calculate_Tx(dataframe):
    # Calculate the total number of person-years lived (Tx) at each age (sum of Lx and subsequent Lx+1, Lx+2, ...)
    dataframe['Tx'] = dataframe['Lx'][::-1].cumsum()[::-1]  # Cumulative sum in reverse order
    return dataframe

# Example usage:
# Assuming tab_2021 DataFrame is complete as provided
tab_2021 = tab_2021.sort_values(by='Age')  # Ensure DataFrame is sorted by Age

# Calculate Tx for all ages
tab_2021 = calculate_Tx(tab_2021)

In [ ]:
tab_2021

## Calculate the Life expectancy

In [ ]:
def calculate_life_expectancy(dataframe):
    # Calculate the life expectancy (ex) at each age (Tx / Lx)
    dataframe['ex'] = dataframe['Tx'] / dataframe['Lx']
    return dataframe

# Example usage:
# Assuming tab_2021 DataFrame is complete as provided
tab_2021 = tab_2021.sort_values(by='Age')  # Ensure DataFrame is sorted by Age

# Calculate life expectancy (ex) for all ages
tab_2021 = calculate_life_expectancy(tab_2021)

In [ ]:
tab_2021

## Get life expectancy at a given age

In [ ]:
def get_life_expectancy_for_age(dataframe, age):
    # Filter the DataFrame for the given age
    age_row = dataframe[dataframe['Age'] == age]
    
    # Check if the age exists in the DataFrame
    if not age_row.empty:
        # Extract the life expectancy (ex) value for the given age
        life_expectancy = age_row['ex'].values[0]
        return life_expectancy
    else:
        print(f"No data found for age {age}")
        return None

In [ ]:
# Example usage:
# Assuming tab_2021 DataFrame is complete as provided
# Assuming you want to get the life expectancy for age 65
life_expectancy_age_65 = get_life_expectancy_for_age(tab_2021, 65)
if life_expectancy_age_30 is not None:
    print(f"Life expectancy at age 65: {life_expectancy_age_30}")

## Get Survival function ?